@import '../../../utils/variables.scss';

button {
	@include flex-centering;
	cursor: pointer;
	box-shadow: 2px 2px 5px black;
	color: $basis-color;
	opacity: .95;
	background-color: black;
	border: none;
	font-size: 1.2rem;
	font-family: $serif-font;

	&:hover {
		opacity: .75;
	}
}

.rectangular {
	border-radius: 12px;
	padding: 1rem;
}

.round {
	border-radius: 50%;
	aspect-ratio: 1 / 1;
}

.clicked {
	cursor: auto;
	box-shadow: none;
	color: $accent-color;
	opacity: 1;

	&:hover {
		opacity: 1;
	}
}