@import '../../../utils/variables.scss';

button {
	@include flex-centering;
	cursor: pointer;
	box-shadow: 1px 1px 3px rgb(0, 0, 0, .75);
	color: $basis-color;
	opacity: 1;
	background-color: black;
	border: none;
	font-size: 1.2rem;
	font-family: $serif-font;

	&:hover {
		opacity: .8;
	}
}

.rectangular {
	border-radius: 12px;
	padding: 1rem;
}

.round {
	border-radius: 50%;
	aspect-ratio: 1 / 1;
}

.clicked {
	cursor: auto;
	box-shadow: none;
	color: $accent-color;
	opacity: .8;
	pointer-events: none;
}

@media only screen and (max-width: 1000px) {

	.rectangular {
		border-radius: 12px 0 0 0;
		padding: 1rem;

		&:last-child {
			border-radius: 0 12px 0 0;
		}
	}
}