@import '../../utils/variables.scss';

.star {
	display: none;
}

@media only screen and (max-width: 768px) {

	.star {
		display: block;
		position: fixed;
		z-index: 2;
		bottom: .8rem;
		left: .8rem;
		width: 16.5vw;
		aspect-ratio: 1 / 1;
		transition: 0.3s;
		border-radius: 40%;
		padding: 5px;
		background-color: $dark-color;

		&Show {
			fill: $accent-color;
			transform: rotate(0deg)
		}

		&Hide {
			opacity: 0.3;
			transform: rotate(360deg)
		}
	}

}