@import '../../utils/variables.scss';

.star {
	display: none;
}

@media only screen and (max-width: 768px) {

	.star {
		display: block;
		position: fixed;
		z-index: 2;
		bottom: .8rem;
		left: .8rem;
		width: 19.5vw;
		aspect-ratio: 1 / 1;
		transition: .3s;
		border-radius: 50%;
		padding: 1rem;
		background-color: black;
		fill: $accent-color;

		&Show {
			transform: rotate(0deg)
		}

		&Hide {
			opacity: .3;
			transform: rotate(360deg)
		}
	}

}