@import '../../utils/variables.scss';

ul {
	@include frosted-glass;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	text-align: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	@include flex-centering;
	aspect-ratio: 1 / 1;
	font-family: $serif-font;
	width: 70%;
	margin-top: 1rem;
	font-size: 1.25rem;
	background-color: black;
	color: $basis-color;
	border-radius: 50%;
	box-shadow: 2px 2px 4px black;
	cursor: pointer;
	opacity: .95;

	&:hover {
		opacity: .75;
	}
}

.chosen {
	box-shadow: none;
	color: $accent-color;
	cursor: auto;
	opacity: 1;

	&:hover {
		opacity: 1;
	}
}