@import '../../utils/variables.scss';

ul {
	@include frosted-glass;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	text-align: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
	@include flex-centering;
	aspect-ratio: 1 / 1;
	width: 70%;
	margin-top: 1rem;
	font-size: 1.5rem;
	background-color: black;
	color: white;
	border-radius: 50%;
	border: 3px solid white;
	cursor: pointer;

	&:hover {
		opacity: 0.85;
	}
}

.chosen {
	color: $accent-color;
	border: 3px solid $accent-color;

	&:hover {
		opacity: 1;
	}
}