@import '../../utils/variables.scss';

.wrapper {
	@include flex-centering;
	width: 100%;
	justify-content: space-between;
}

.toggle {
	@include flex-centering;
	flex-direction: column;
	gap: 1rem;
}

.dates {
	@include flex-centering;
}

.date {
	padding: 1rem;
	font-size: .75rem;

	&:not(:first-child) {
		border-left: 1px solid rgb(0, 0, 0, .1);
	}

	&AfterMidnight {
		&:not(:first-child) {
			border-left: 2px solid $basis-color;
		}
	}

}

@media only screen and (max-width: 768px) {

	.wrapper {
		flex-direction: column;
	}

	.switches {
		flex-direction: row;
		justify-content: space-between;
	}

	.dates {
		flex-direction: column;
	}
}