@import '../../utils/variables.scss';

.dates {
	@include flex-centering;
	gap: .5rem;
}

.date {
	background-color: aqua;
	white-space: pre-line;
}

@media only screen and (max-width: 768px) {

	.dates {
		flex-direction: column;
	}
}