@import '../../utils/variables.scss';

.wrapper {
	@include box-wrapper;
}

.column {
	@include box-column;

	&Justification {
		justify-content: space-around;
	}
}

.row {
	@include box-row;
}

.skeleton {
	@include box-skeleton;
}

.chart {
	height: 100%;
}

.staticIcon {
	height: 2.5rem;
	aspect-ratio: 1 / 1;
}

.information {
	width: 100%;
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 1000px) {

	.wrapper {
		flex-direction: column;
		height: auto;
		gap: 1rem;
	}

	.column {
		padding: 0;
		margin: .5rem .15rem;
		gap: 1rem;

		&:first-child {
			margin-bottom: 0;
		}

		&:last-child {
			margin-top: 0;
		}
	}

	.information {
		font-size: 1.2rem;
	}
}