@import '../../utils/variables.scss';

.wrapper {
	@include box-wrapper;
}

.column {
	@include box-column;
	margin: 0.5rem 0 0.25rem 0;
	gap: 0rem;

	&Justification {
		justify-content: space-around;
	}

	&:first-child {
		padding: .6rem .33rem;
	}

}

.row {
	@include box-row;
}

.skeleton {
	@include box-skeleton;
}

.futureMessage {
	@include flex-centering;
	flex-direction: column;
	gap: 2rem;

	&:first-child {
		text-align: center;
		font-weight: bold;
	}
}

.chart {
	flex: 1;
	height: 100%;
	max-width: 100%;
	overflow: none;
}

.staticIcon {
	height: 2.5rem;
	aspect-ratio: 1 / 1;
}

.information {
	width: 100%;
	font-size: .85rem;
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 1000px) {

	.wrapper {
		flex-direction: column;
		height: auto;
		gap: 1rem;
	}

	.column {
		padding: 0;
		margin: .5rem .15rem;
		gap: 1rem;

		&:first-child {
			margin-bottom: 0;
		}

		&:last-child {
			margin-top: 0;
		}
	}

	.information {
		font-size: 1rem;
	}
}