@import '../../utils/variables.scss';

.wrapper {
	@include box-wrapper;
}

.column {
	@include box-column;
	gap: 0rem;

	&:has(.chart) {
		justify-content: space-between;
		padding-inline: .5rem;
	}

	&:has(.information) {
		justify-content: space-around;
	}
}

.row {
	@include box-row;

	&:first-child {
		margin-top: .5rem;
	}

	&:last-child {
		margin-bottom: .5rem;
	}
}

.skeleton {
	@include box-skeleton;
}

.futureMessage {
	@include flex-centering;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
	font-size: 1.1rem;
	text-align: start;
	align-items: start;

	> div:first-child {
		font-weight: bold;
	}
}

.chart {
	@include flex-centering;
	flex: 1;
	height: 100%;
	width: 100%;
	padding-block: .6rem;
}

.staticIcon {
	height: 2.5rem;
	aspect-ratio: 1 / 1;
}

.information {
	width: 100%;
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 1000px) {

	.wrapper {
		flex-direction: column;
		height: auto;
		gap: 1rem;
	}

	.column {
		padding: 0;
		margin: .5rem .15rem;
		gap: 1rem;

		&:first-child {
			margin-bottom: 0;
		}

		&:last-child {
			margin-top: 0;
		}
	}

	.information {
		font-size: 1rem;
	}
}