@import '../../utils/variables.scss';

.container {
	background: center / cover no-repeat url(../../images/background.jpg);
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns:
		$favorites-width 1fr 1fr;
	grid-template-rows:
		$title-height $search-height auto auto;
	grid-template-areas:
		"favorites title title"
		"favorites search search"
		"favorites box-1 box-2"
		"favorites box-3 box-3";
}

.errorOccured {
	grid-template-columns:
		$favorites-width auto;
	grid-template-rows:
		$title-height $search-height auto;
	grid-template-areas:
		"favorites title"
		"favorites search"
		"favorites error";
}

.error {
	grid-area: error;
	padding: 3rem 8rem 4rem 8rem;
}

.title {
	@include flex-centering;
	justify-content: flex-end;
	flex-direction: column;
	grid-area: title;

	h1 {
		font-family: $serif-font;
		font-size: 6rem;
		margin: 0;
	}

	p {
		font-family: $cursive-font;
		font-size: 2rem;
		margin: .5rem 0 2rem 0;
	}
}

.search {
	grid-area: search;
}

.favorites {
	grid-area: favorites;
}

.mainInfo {
	grid-area: box-1;
	padding: 3rem 1rem 2rem 8rem;
}

.secondaryInfo {
	grid-area: box-2;
	padding: 3rem 8rem 2rem 1rem;
}

.forecast {
	grid-area: box-3;
	padding: 0 8rem 4rem 8rem;
}

@media only screen and (max-width: 768px) {

	.container {
		background-size: auto 2600px;
		background-position: 50% 0%;
		position: absolute;
		height: auto;
		display: grid;
		grid-template-columns:
			100vw;
		grid-template-rows:
			$title-height-mobile $search-height repeat(3, auto);
		grid-template-areas:
			"title"
			"search"
			"box-1"
			"box-3"
			"box-2";
	}

	.errorOccured {
		height: 100vh;
		grid-template-columns:
			100vw;
		grid-template-rows:
			$title-height-mobile $search-height auto;
		grid-template-areas:
			"title"
			"search"
			"error";
	}

	.title {

		h1 {
			font-size: 3rem;
			margin: 0;
		}

		p {
			font-size: 1.5rem;
			margin: .5rem 0 1.75rem 0;
		}
	}

	.favorites {
		overflow: hidden;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 25vw;
		height: 100%;
		transition: .1s;

		&ShowOnMobile {
			display: block;
			transform: translateX(0%)
		}

		&HideOnMobile {
			display: hidden;
			transform: translateX(-100%);
		}
	}

	.error,
	.mainInfo,
	.secondaryInfo {
		padding: 2rem;
	}

	.forecast {
		padding: 0 2rem;
	}
}