@import '../../utils/variables.scss';

.container {
	background-image: url(../../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns:
		$favorites-width 1fr 1fr;
	grid-template-rows:
		$title-height $search-height auto auto;
	grid-template-areas:
		"favorites title title"
		"favorites search search"
		"favorites box-1 box-2"
		"favorites box-3 box-3";
}

.errorOccured {
	grid-template-columns:
		$favorites-width auto;
	grid-template-rows:
		$title-height $search-height auto;
	grid-template-areas:
		"favorites title"
		"favorites search"
		"favorites error";
}

.error {
	grid-area: error;
	padding: 4rem 8rem 3rem 8rem;
}

.title {
	@include flex-centering;
	justify-content: end;
	flex-direction: column;
	grid-area: title;

	h1 {
		font-family: $serif-font;
		font-size: 6rem;
		margin: 0;
	}

	p {
		font-family: $cursive-font;
		font-size: 2rem;
		margin: .5rem 0 2rem 0;
	}
}

.search {
	grid-area: search;
}

.favorites {
	grid-area: favorites;
}

.mainInfo {
	grid-area: box-1;
	padding: 3rem 2rem 2rem 8rem;
}

.secondaryInfo {
	grid-area: box-2;
	padding: 3rem 8rem 2rem 0;
}

.forecast {
	grid-area: box-3;
	padding: 0 8rem 4rem 8rem;
}

@media only screen and (max-width: 768px) {

	h1 {
		font-size: 4rem;
	}

	.container {
		position: absolute;
		height: auto;
		display: grid;
		grid-template-columns:
			auto;
		grid-template-rows:
			$title-height $search-height repeat(3, auto);
		grid-template-areas:
			"title"
			"search"
			"box-1"
			"box-2"
			"box-3";
	}

	.errorOccured {
		height: 100vh;
		grid-template-columns:
			auto;
		grid-template-rows:
			$title-height $search-height auto;
		grid-template-areas:
			"title"
			"search"
			"error";
	}

	.favorites {
		position: fixed;
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 25vw;
		height: 100vh;
		transition: .1s;

		&ShowOnMobile {
			display: block;
			transform: translateX(0%)
		}

		&HideOnMobile {
			display: hidden;
			transform: translateX(-100%);
		}
	}

	.error,
	.mainInfo,
	.forecast {
		padding: 2rem;
	}

	.secondaryInfo {
		padding: 0 2rem;
	}
}