[data-weather="clear-sky-day"],
[data-weather="few-clouds-day"],
[data-weather="scattered-clouds-day"],
[data-weather="broken-clouds-day"] {
	background-image: url(../../images/desktop-backgrounds/day.jpg);
}

[data-weather="clear-sky-night"],
[data-weather="few-clouds-night"],
[data-weather="scattered-clouds-night"],
[data-weather="broken-clouds-night"] {
	background-image: url(../../images/desktop-backgrounds/night.jpg);
}

[data-weather="shower-rain-day"],
[data-weather="rain-day"],
[data-weather="shower-rain-night"],
[data-weather="rain-night"] {
	background-image: url(../../images/desktop-backgrounds/rain.jpg);
}

[data-weather="thunderstorm-day"],
[data-weather="thunderstorm-night"] {
	background-image: url(../../images/desktop-backgrounds/thunderstorm.jpg);
}

[data-weather="snow-day"],
[data-weather="snow-night"] {
	background-image: url(../../images/desktop-backgrounds/snow.jpg);
}

[data-weather="mist-day"],
[data-weather="mist-night"] {
	background-image: url(../../images/desktop-backgrounds/mist.jpg);
}