@import '../../utils/variables.scss';

[data-weather="clear-sky-day"] {
	background-image: url(../../images/desktop-backgrounds/clear-day.jpg);
}

[data-weather="clear-sky-night"] {
	background-image: url(../../images/desktop-backgrounds/clear-night.jpg);

	h1,
	p,
	input,
	input::placeholder {
		color: $basis-color;
	}

	h1 {
		background: -webkit-linear-gradient($basis-color, rgba(122, 94, 82, .35));
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}

	input {
		border: .125rem solid rgba(243, 168, 147, .5);

		&:focus {
			border: .125rem solid $accent-color;
		}

		&::placeholder {
			opacity: .5;
		}
	}
}

[data-weather="few-clouds-day"],
[data-weather="scattered-clouds-day"],
[data-weather="broken-clouds-day"] {
	background-image: url(../../images/desktop-backgrounds/clouds-day.jpg);
}

[data-weather="few-clouds-night"],
[data-weather="scattered-clouds-night"],
[data-weather="broken-clouds-night"] {
	background-image: url(../../images/desktop-backgrounds/clouds-night.jpg);

	h1,
	p,
	input,
	input::placeholder {
		color: $basis-color;
	}

	h1 {
		background: -webkit-linear-gradient($basis-color, rgba(122, 94, 82, .35));
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}

	input {
		border: .125rem solid rgba(243, 168, 147, .5);

		&:focus {
			border: .125rem solid $accent-color;
		}

		&::placeholder {
			opacity: .5;
		}
	}
}

[data-weather="shower-rain-day"],
[data-weather="rain-day"],
[data-weather="shower-rain-night"],
[data-weather="rain-night"] {
	background-image: url(../../images/desktop-backgrounds/rain.jpg);
}

[data-weather="thunderstorm-day"],
[data-weather="thunderstorm-night"] {
	background-image: url(../../images/desktop-backgrounds/thunderstorm.jpg);
}

[data-weather="snow-day"],
[data-weather="snow-night"] {
	background-image: url(../../images/desktop-backgrounds/snow.jpg);
}

[data-weather="mist-day"],
[data-weather="mist-night"] {
	background-image: url(../../images/desktop-backgrounds/mist.jpg);
}