.basis {
	height: 100%;
	align-self: center;
}

.box {
	border-left: .1rem solid rgb(0, 0, 0, .1);
}

.horizontalOnDesktop {
	height: 0;
	border-left: none;
	width: 100%;
	border-bottom: .1rem solid rgb(0, 0, 0, .1);
}

.date {
	height: 75%;
	border-left: .1rem solid rgb(0, 0, 0, .1);

	&MidnightSplit {
		border-left: .12rem solid rgb(0, 0, 0, .5);
	}
}


@media only screen and (max-width: 1000px) {
	.basis {
		height: 0;
		width: 100%;
		border-left: none;
	}

	.box {
		border-bottom: .1rem solid rgb(0, 0, 0, .1);
	}

	.date {
		border-bottom: .1rem solid rgb(0, 0, 0, .1);

		&MidnightSplit {
			border-bottom: .12rem solid rgb(0, 0, 0, .5);
		}
	}
}