@import '../../utils/variables.scss';

.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	background: top repeat url('../../images/mobile-background.jpg');
	background-size: 600px;
	@include flex-centering;
}

.container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	background-color: $background-color;
	backdrop-filter: blur(100px);
}