@import '../../utils/variables.scss';

.container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: center / cover no-repeat url('../../images/background.jpg');
	@include flex-centering;
}

.container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $background-color;
	backdrop-filter: blur(100px);
}

.container > div {
	display: flex;
	margin: 0 auto;
}