@import '../../../utils/variables.scss';

.box {
	@include frosted-glass;
	@include flex-centering;
	height: 100%;
	border-radius: $border-radius;
	padding: 1rem 1.5rem;

	&Orange {
		box-shadow: 0 0 .5rem $accent-color;
	}
}

.error {
	@include frosted-glass(true);
	@include flex-centering;
	flex-direction: column;
	gap: 2rem;
	font-size: 1.5rem;
	text-align: center;
	white-space: pre-line;
}

@media only screen and (max-width: 1000px) {

	.box {
		padding: .6rem 1.1rem;
	}

	.forecast {
		padding: 0;
	}
}