@import '../../../utils/variables.scss';

.box {
	@include frosted-glass;
	@include flex-centering;
	height: 100%;
	border-radius: $border-radius;
	padding: 1rem 1.5rem;
}

.error {
	@include frosted-glass(true);
	@include flex-centering;
	font-size: 2rem;
	text-align: center;
	white-space: pre-line;
}

@media only screen and (max-width: 1000px) {

	.box {
		padding: .5rem 1rem;
	}

	.forecast {
		padding: 0;
	}
}