.container {
	padding: 1rem;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.searchResults {
	position: fixed;
	z-index: 2;
	bottom: 0;
	right: 0;
}