@import '../../utils/variables.scss';

.container {
	height: 100%;
	@include flex-centering;
	align-items: flex-start;
}

input {
	padding: .5rem 1rem;
	border-radius: $border-radius;
	font-size: 1.5rem;
	border: none;
	outline: none;
	border: .15rem solid rgb(0, 0, 0, .3);
	background: none;
	caret-color: $accent-color;

	&::placeholder {
		color: rgb(0, 0, 0, .3);
		font-family: $sans-serif-font;
	}

	&::-webkit-calendar-picker-indicator {
		display: none !important;
	}

	&::-webkit-search-cancel-button {
		cursor: pointer;
	}

	&:focus {
		border: .15rem solid $accent-color;
	}

	&:focus::placeholder {
		opacity: 0;
	}

}

@media only screen and (max-width: 1000px) {

	input {
		height: 85%;
		width: 100%;
		margin: 0 1.2rem;
	}
}