@import '../../utils/variables.scss';

.container {
	height: 100%;
	@include frosted-glass;
	@include flex-centering;
}

input {
	padding: .5rem 1rem;
	border-radius: 16px;
	font-size: 1.5rem;
	border: none;
	outline: none;
	border: 3px solid $dark-color;
	background: none;
	caret-color: $accent-color;

	&::placeholder {
		color: black;
		opacity: 0.5;
	}

	&::-webkit-calendar-picker-indicator {
		display: none !important;
	}

	&::-webkit-search-cancel-button {
		cursor: pointer;
	}

	&:focus {
		border: 3px solid $accent-color;
	}

	&:focus::placeholder {
		opacity: 0;
	}

}