@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&family=Reenie+Beanie&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&family=Suez+One&display=swap');

// Fonts
$serif-font: 'Suez One', serif;
$sans-serif-font: 'Cabin', sans-serif;
$cursive-font: 'Reenie Beanie', cursive;

// Colors
$background-color: rgba(122, 94, 82, .35);
$basis-color: #f3a893;
$accent-color: #ec6e4c;

// Measurements
$favorites-width: 5vw;
$title-height: 30vh;
$title-height-mobile: 10vh;
$search-height: 5vh;
$forecast-height: 20vh;
$info-box-height: 25vh;
$border-radius: .666rem;

// Mixins
@mixin flex-centering {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin frosted-glass($error: false) {
	@if $error {
		background: rgba(255, 0, 0, .35)
	}

	@else {
		background: $background-color;
	}

	box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
	backdrop-filter: blur(8px);

	@media only screen and (max-width: 1000px) {
		backdrop-filter: blur(20px);
	}
}

@mixin box-wrapper {
	display: flex;
	gap: 1rem;
	height: $info-box-height;
	width: 100%;
}

@mixin box-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	gap: .5rem;
	padding: 1rem;

	@media only screen and (max-width: 1000px) {
		width: 100%;
	}
}

@mixin box-row {
	@include flex-centering;
	gap: 1rem;
}

@mixin box-skeleton {
	display: flex;
	justify-content: space-between;
	margin-top: .5rem;
}