@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&family=Reenie+Beanie&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&family=Suez+One&display=swap');

// Fonts
$serif-font: 'Suez One', serif;
$sans-serif-font: 'Cabin', sans-serif;
$cursive-font: 'Reenie Beanie', cursive;

// Colors
$background-color: rgba(122, 94, 82, .3);
$basis-color: #f3a893;
$accent-color: #EC6E4C;


// Measurements
$favorites-width: 5vw;
$title-height: 35vh;
$title-height-mobile: 20vh;
$search-height: 5vh;
$forecast-height: 15vh;
$info-box-height: 25vh;

// Mixins
@mixin flex-centering {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin frosted-glass($error: false) {
	@if $error {
		background: rgba(255, 0, 0, .3)
	}

	@else {
		background: $background-color;
	}

	box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
	backdrop-filter: blur(10px);
}

@mixin box-wrapper {
	display: flex;
	gap: 1rem;
	height: $info-box-height;
	width: 100%;
}

@mixin box-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	gap: .5rem;
	padding: 1rem;
}

@mixin box-row {
	@include flex-centering;
	gap: 1rem;
}

@mixin box-skeleton {
	display: flex;
	justify-content: space-between;
	margin-top: .5rem;
}


