@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

$serif-font: 'Audiowide', cursive;
$sans-serif-font: 'Raleway', sans-serif;
$primary-color: #e7e7e7;
$dark-color: #611427;
$accent-color: #ff8400;

$favorites-width: 5vw;
$title-height: 30vh;
$search-height: 10vh;

@mixin flex-centering {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin frosted-glass($error: false) {
	@if $error {
		background: rgba(255, 0, 0, 0.2)
	} @else {
		background: rgba(255, 255, 255, 0.2);
	}
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
}