@font-face {
	font-family: 'Cabin';
	src: url(../fonts/Cabin-Italic.ttf) format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'Cabin';
	src: url(../fonts/Cabin-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Reenie Beanie';
	src: url(../fonts/ReenieBeanie-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Suez One';
	src: url(../fonts/SuezOne-Regular.ttf) format('truetype');
}
