@import '../../assets/styles/fonts.scss';

// Fonts
$serif-font: 'Suez One', serif;
$sans-serif-font: 'Cabin', sans-serif;
$cursive-font: 'Reenie Beanie', cursive;

// Colors
$background-color: rgba(122, 94, 82, 0.35);
$basis-color: #f3a893;
$accent-color: #ec6e4c;

// Measurements
$favorites-width: 5vw;
$title-height: 30vh;
$title-height-mobile: 7.5rem;
$search-height: 5vh;
$search-height-mobile: 4rem;
$forecast-height: 20vh;
$info-box-height: 25vh;
$border-radius: 0.666rem;
