@import '../../utils/variables.scss';

.row {
	@include flex-centering;
	justify-content: space-between;
	padding: 0 5vw;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

.star {
	margin-right: 20px;
	height: 5vh;
	transition: 0.3s;
	cursor: pointer;

	&Favorite {
		fill: $accent-color;
		transform: rotate(0deg)
	}

	&NotFavorite {
		opacity: 0.3;
		transform: rotate(360deg)
	}
}