@import '../../utils/variables.scss';

.wrapper {
	display: flex;
	gap: 1rem;
	height: 100%;
	width: 100%;
}

.column {
	display: flex;
	align-items: start;
	justify-content: space-around;
	flex-direction: column;
	flex: 1;
	padding: 1rem;

	&:last-of-type {
		margin: .7rem 0;
	}
}

.row {
	@include flex-centering;
	justify-content: space-between;
	gap: 1rem;
}

.line {
	height: 100%;
	border-left: 2px solid rgb(0, 0, 0, .1);
	align-self: center;
}

.temp {
	font-size: 4rem;
	font-family: $serif-font;
}

.star {
	height: 2rem;
	transition: 0.3s;
	cursor: pointer;


	&Favorite {
		fill: $accent-color;
		transform: rotate(0deg);

		&:hover {
			opacity: 0.8;
		}
	}

	&NotFavorite {
		opacity: 0.5;
		transform: rotate(360deg);

		&:hover {
			opacity: 0.3;
		}
	}
}

.icon {
	height: 2.5rem;
	aspect-ratio: 1 / 1;
}

.description {
	font-size: 1.25rem;
}

@media only screen and (max-width: 768px) {

	.wrapper {
		flex-direction: column;
	}

	.line {
		height: 0;
		width: 80%;
		border-left: none;
		border-bottom: 2px solid $dark-color;
	}

}