@import '../../utils/variables.scss';

.wrapper {
	display: flex;
	gap: 1rem;
	height: $info-box-height;
	width: 100%;
}

.column {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex: 1;
	padding: 0 1rem;

	&:first-child {
		align-items: start;
	}

	&:last-child {
		justify-content: space-between;
		margin: .8rem 0 0 0;
	}

}

.row {
	@include flex-centering;
	gap: 1rem;
}

.line {
	@include separator-line
}

.currentWeather {
	font-style: italic;
	margin-top: 2.5px;
}

.temp {
	font-size: 4.5rem;
	font-weight: bold;
	font-family: $serif-font;
}

.star {
	height: 1.8rem;
	aspect-ratio: 1 / 1;
	margin-top: -.1rem;
	transition: .3s;
	cursor: pointer;


	&Favorite {
		fill: $accent-color;
		transform: rotate(0deg);

		&:hover {
			opacity: .8;
		}
	}

	&NotFavorite {
		opacity: .5;
		transform: rotate(360deg);

		&:hover {
			opacity: .3;
		}
	}
}

.icon {
	height: 2.8rem;
	aspect-ratio: 1 / 1;
}

.description {
	display: flex;
	justify-content: space-between;
	flex: 1;
	font-size: 1.3rem;
	font-weight: bold;
}

@media only screen and (max-width: 768px) {

	.wrapper {
		flex-direction: column;
		height: auto;
	}

}